<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Education</title>
  <link rel="stylesheet" href="main.css">
  <base href="/">
  <script src="main.js"></script>
</head>
<body>
  <header>منو</header>
  <main class="p-8">
    <!-- hero section -->
    <div class="w-full">
      <div class="grid grid-cols-2">
        <div class="py-8">
          <h1 class="mb-10 text-5xl font-base leading-none tracking-tight text-gray-900">ز دانش بود جان و دل را فروغ</h1>
          <p class="mb-12 text-lg font-normal text-gray-900"> آینده یادگیری خود را تقویت ببحشید</p>
          <a class="inline-flex items-center px-8 py-3 text-base font-light text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300" href="">
            <span>شروع یادگیری</span>
            <svg class="mr-5" id="icon" fill="currentcolor" width="20" height="20" viewBox="0 0 32 32">
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                  }
                </style>
              </defs>
              <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
              <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
            </svg>
          </a>
        </div>
        <figure class="flex justify-end my-8">
          <img class="w-full h-full" src="https://i.ibb.co/zJfxxtm/hero-section.jpg" alt="عکس قسمت اول سایت" />
        </figure>
      </div>
    </div>
    <!-- learning path -->
    <div class="w-full grid grid-cols-4 mt-[8vh]">
      <div class="grid grid-cols-2 border-2 hover:bg-slate-100 cursor-pointer">
        <figure class="m-2">
          <img class="w-full h-full" src="https://i.ibb.co/g6bGSmt/ben-griffiths-g-Ae1p-HGc6ms-unsplash.jpg" alt="مسیر یادگیری اول" />
        </figure>
        <div class="m-2">
          <h2 class="font-bold">زبان پایتون</h2>
          <p class="text-sm mt-[2vh]">پایتون یک زبان برنامه نویسی نوین با متدهای عالی است</p>
          <svg class="mt-[10vh]" id="icon" fill="blue" width="20" height="20" viewBox="0 0 32 32">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
          </svg>
        </div>
      </div>
      <div class="grid grid-cols-2 border-2 hover:bg-slate-100 cursor-pointer">
        <figure class="flex justify-center m-2">
          <img src="https://i.ibb.co/g6bGSmt/ben-griffiths-g-Ae1p-HGc6ms-unsplash.jpg" alt="مسیر یادگیری اول" /></figure>
        <div class="m-2">
          <h2 class="font-bold">زبان پایتون</h2>
          <p class="text-sm mt-[2vh]">پایتون یک زبان برنامه نویسی نوین با متدهای عالی است</p>
          <svg class="mt-[10vh]" id="icon" fill="blue" width="20" height="20" viewBox="0 0 32 32">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
          </svg>
        </div>
      </div>
      <div class="grid grid-cols-2 border-2 hover:bg-slate-100 cursor-pointer">
        <figure class="flex justify-center m-2">
          <img src="https://i.ibb.co/g6bGSmt/ben-griffiths-g-Ae1p-HGc6ms-unsplash.jpg" alt="مسیر یادگیری اول" /></figure>
        <div class="m-2">
          <h2 class="font-bold">زبان پایتون</h2>
          <p class="text-sm mt-[2vh]">پایتون یک زبان برنامه نویسی نوین با متدهای عالی است</p>
          <svg class="mt-[10vh]" id="icon" fill="blue" width="20" height="20" viewBox="0 0 32 32">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
          </svg>
        </div>
      </div>
      <div class="grid grid-cols-2 border-2 hover:bg-slate-100 cursor-pointer">
        <figure class="flex justify-center m-2">
          <img src="https://i.ibb.co/g6bGSmt/ben-griffiths-g-Ae1p-HGc6ms-unsplash.jpg" alt="مسیر یادگیری اول" /></figure>
        <div class="m-2">
          <h2 class="font-bold">زبان پایتون</h2>
          <p class="text-sm mt-[2vh]">پایتون یک زبان برنامه نویسی نوین با متدهای عالی است</p>
          <svg class="mt-[10vh]" id="icon" fill="blue" width="20" height="20" viewBox="0 0 32 32">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
          </svg>
        </div>
      </div>
    </div>
    
    <!-- competitive advantages  -->
    <div class="grid grid-rows-2 my-[8vh] border-b-2 pb-[10vh]">
      <div class="grid grid-cols-2">
        <h2 class="text-4xl font-bold">ایجاد عادات یادگیری</h2>
        <div class="grid-rows-2">
          <p class="text-2xl">با حل حداقل سه مسئله در روز عادات خود را تیک بزنید و از پشتیبانی مربیان برای مسیر پیشرفت استفاده کنید</p>
          <div class="flex">
            <a class="flex text-base mt-4 text-blue-600" href="/">
              <p>شروع مسیر</p>
              <svg id="icon" fill="blue" width="20" height="20" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2">
        <h2 class="text-4xl font-bold">جلسات رفع اشکال</h2>
        <div class="grid-rows-2">
          <p class="text-2xl">هر هفته و در پایان هر جلسه زمانی مشخص برای رفع اشکال و پیشرفت در نظر گرفته شده است</p>
          <div class="flex">
            <a class="flex text-base mt-4 text-blue-600" href="/">
              <p>درباره ما</p>
              <svg id="icon" fill="blue" width="20" height="20" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
              </svg>
            </a>
          </div>
          <div class="flex">
            <a class="flex text-base mt-4 text-blue-600" href="/">
              <p>مشاوره با ما</p>
              <svg id="icon" fill="blue" width="20" height="20" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- course guide -->
    <div class="grid py-[8vh]">
      <div class="">
        <p class="text-4xl font-bold mb-8">راهنمای دوره های موجود</p>
        <p class="mb-8 text-lg font-normal text-gray-900">تمام دوره های ما با اساتید مجرب و دارای سابقه پشتیبانی می شوند</p>
        <div class="grid grid-cols-4">
          <div class="grid grid-cols-3 border-2 hover:bg-slate-200 cursor-pointer">
            <div class="flex justify-start items-center mr-4">
              <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <title>logo--python</title>
                <path id="compound_path" data-name="compound path" d="M23.4882,9.14v2.9663a4.2843,4.2843,0,0,1-4.173,4.2352H12.6431a3.4077,3.4077,0,0,0-3.34,3.3945v6.3607c0,1.81,1.5742,2.8751,3.34,3.3945a11.1762,11.1762,0,0,0,6.6721,0c1.6817-.4869,3.34-1.4668,3.34-3.3945V23.55H15.983v-.8486H25.9951c1.9414,0,2.6648-1.3542,3.34-3.3867a11.4642,11.4642,0,0,0,0-6.7889c-.48-1.9327-1.3961-3.3867-3.34-3.3867ZM19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                <path id="inner_path" data-name="inner path" class="cls-1" d="M19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                <path id="compound_path-2" data-name="compound path" d="M15.8351,2a19.0717,19.0717,0,0,0-3.192.2725c-2.8268.4994-3.34,1.5447-3.34,3.4723V8.2909h6.68V9.14H6.7962a4.1708,4.1708,0,0,0-4.173,3.3867,12.4855,12.4855,0,0,0,0,6.7889c.4748,1.9776,1.6088,3.3867,3.55,3.3867H8.47V19.65a4.2449,4.2449,0,0,1,4.173-4.15h6.6721a3.3654,3.3654,0,0,0,3.34-3.3944V5.745a3.729,3.729,0,0,0-3.34-3.4723A20.8377,20.8377,0,0,0,15.8351,2ZM12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                <path id="inner_path-2" data-name="inner path" class="cls-1" d="M12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
              </svg>
            </div>
            
            <div class="flex justify-start items-center mr-4">
              <p class="home__course__guide__content__text">پایتون</p>
            </div>
            
            <div class="flex justify-end items-center ml-4">
              <svg class="mr-4" id="icon" fill="currentcolor" width="20" height="20" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
              </svg>
            </div>
          </div>
          <div class="grid grid-cols-3 border-2 hover:bg-slate-200 cursor-pointer">
            <div class="flex justify-start items-center mr-4">
              <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <title>logo--python</title>
                <path id="compound_path" data-name="compound path" d="M23.4882,9.14v2.9663a4.2843,4.2843,0,0,1-4.173,4.2352H12.6431a3.4077,3.4077,0,0,0-3.34,3.3945v6.3607c0,1.81,1.5742,2.8751,3.34,3.3945a11.1762,11.1762,0,0,0,6.6721,0c1.6817-.4869,3.34-1.4668,3.34-3.3945V23.55H15.983v-.8486H25.9951c1.9414,0,2.6648-1.3542,3.34-3.3867a11.4642,11.4642,0,0,0,0-6.7889c-.48-1.9327-1.3961-3.3867-3.34-3.3867ZM19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                <path id="inner_path" data-name="inner path" class="cls-1" d="M19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                <path id="compound_path-2" data-name="compound path" d="M15.8351,2a19.0717,19.0717,0,0,0-3.192.2725c-2.8268.4994-3.34,1.5447-3.34,3.4723V8.2909h6.68V9.14H6.7962a4.1708,4.1708,0,0,0-4.173,3.3867,12.4855,12.4855,0,0,0,0,6.7889c.4748,1.9776,1.6088,3.3867,3.55,3.3867H8.47V19.65a4.2449,4.2449,0,0,1,4.173-4.15h6.6721a3.3654,3.3654,0,0,0,3.34-3.3944V5.745a3.729,3.729,0,0,0-3.34-3.4723A20.8377,20.8377,0,0,0,15.8351,2ZM12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                <path id="inner_path-2" data-name="inner path" class="cls-1" d="M12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
              </svg>
            </div>
            
            <div class="flex justify-start items-center mr-4">
              <p class="home__course__guide__content__text">پایتون</p>
            </div>
            
            <div class="flex justify-end items-center ml-4">
              <svg class="mr-4" id="icon" fill="currentcolor" width="20" height="20" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
              </svg>
            </div>
          </div>
          <div class="grid grid-cols-3 border-2 hover:bg-slate-200 cursor-pointer">
            <div class="flex justify-start items-center mr-4">
              <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <title>logo--python</title>
                <path id="compound_path" data-name="compound path" d="M23.4882,9.14v2.9663a4.2843,4.2843,0,0,1-4.173,4.2352H12.6431a3.4077,3.4077,0,0,0-3.34,3.3945v6.3607c0,1.81,1.5742,2.8751,3.34,3.3945a11.1762,11.1762,0,0,0,6.6721,0c1.6817-.4869,3.34-1.4668,3.34-3.3945V23.55H15.983v-.8486H25.9951c1.9414,0,2.6648-1.3542,3.34-3.3867a11.4642,11.4642,0,0,0,0-6.7889c-.48-1.9327-1.3961-3.3867-3.34-3.3867ZM19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                <path id="inner_path" data-name="inner path" class="cls-1" d="M19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                <path id="compound_path-2" data-name="compound path" d="M15.8351,2a19.0717,19.0717,0,0,0-3.192.2725c-2.8268.4994-3.34,1.5447-3.34,3.4723V8.2909h6.68V9.14H6.7962a4.1708,4.1708,0,0,0-4.173,3.3867,12.4855,12.4855,0,0,0,0,6.7889c.4748,1.9776,1.6088,3.3867,3.55,3.3867H8.47V19.65a4.2449,4.2449,0,0,1,4.173-4.15h6.6721a3.3654,3.3654,0,0,0,3.34-3.3944V5.745a3.729,3.729,0,0,0-3.34-3.4723A20.8377,20.8377,0,0,0,15.8351,2ZM12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                <path id="inner_path-2" data-name="inner path" class="cls-1" d="M12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
              </svg>
            </div>
            
            <div class="flex justify-start items-center mr-4">
              <p class="home__course__guide__content__text">پایتون</p>
            </div>
            
            <div class="flex justify-end items-center ml-4">
              <svg class="mr-4" id="icon" fill="currentcolor" width="20" height="20" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
              </svg>
            </div>
          </div>
          <div class="grid grid-cols-3 border-2 hover:bg-slate-200 cursor-pointer">
            <div class="flex justify-start items-center mr-4">
              <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <title>logo--python</title>
                <path id="compound_path" data-name="compound path" d="M23.4882,9.14v2.9663a4.2843,4.2843,0,0,1-4.173,4.2352H12.6431a3.4077,3.4077,0,0,0-3.34,3.3945v6.3607c0,1.81,1.5742,2.8751,3.34,3.3945a11.1762,11.1762,0,0,0,6.6721,0c1.6817-.4869,3.34-1.4668,3.34-3.3945V23.55H15.983v-.8486H25.9951c1.9414,0,2.6648-1.3542,3.34-3.3867a11.4642,11.4642,0,0,0,0-6.7889c-.48-1.9327-1.3961-3.3867-3.34-3.3867ZM19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                <path id="inner_path" data-name="inner path" class="cls-1" d="M19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                <path id="compound_path-2" data-name="compound path" d="M15.8351,2a19.0717,19.0717,0,0,0-3.192.2725c-2.8268.4994-3.34,1.5447-3.34,3.4723V8.2909h6.68V9.14H6.7962a4.1708,4.1708,0,0,0-4.173,3.3867,12.4855,12.4855,0,0,0,0,6.7889c.4748,1.9776,1.6088,3.3867,3.55,3.3867H8.47V19.65a4.2449,4.2449,0,0,1,4.173-4.15h6.6721a3.3654,3.3654,0,0,0,3.34-3.3944V5.745a3.729,3.729,0,0,0-3.34-3.4723A20.8377,20.8377,0,0,0,15.8351,2ZM12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                <path id="inner_path-2" data-name="inner path" class="cls-1" d="M12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
              </svg>
            </div>
            
            <div class="flex justify-start items-center mr-4">
              <p class="home__course__guide__content__text">پایتون</p>
            </div>
            
            <div class="flex justify-end items-center ml-4">
              <svg class="mr-4" id="icon" fill="currentcolor" width="20" height="20" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
              </svg>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-2 my-4 h-[60dvh]">
          <div class="border-2">
            <div class="grid grid-cols-2"> 
              
              <div class="flex gap-4 p-4">
                <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 32 32">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: none;
                      }
                    </style>
                  </defs>
                  <title>logo--python</title>
                  <path id="compound_path" data-name="compound path" d="M23.4882,9.14v2.9663a4.2843,4.2843,0,0,1-4.173,4.2352H12.6431a3.4077,3.4077,0,0,0-3.34,3.3945v6.3607c0,1.81,1.5742,2.8751,3.34,3.3945a11.1762,11.1762,0,0,0,6.6721,0c1.6817-.4869,3.34-1.4668,3.34-3.3945V23.55H15.983v-.8486H25.9951c1.9414,0,2.6648-1.3542,3.34-3.3867a11.4642,11.4642,0,0,0,0-6.7889c-.48-1.9327-1.3961-3.3867-3.34-3.3867ZM19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                  <path id="inner_path" data-name="inner path" class="cls-1" d="M19.7356,25.2476a1.2731,1.2731,0,1,1-1.2534,1.269A1.2607,1.2607,0,0,1,19.7356,25.2476Z" transform="translate(0 0)"/>
                  <path id="compound_path-2" data-name="compound path" d="M15.8351,2a19.0717,19.0717,0,0,0-3.192.2725c-2.8268.4994-3.34,1.5447-3.34,3.4723V8.2909h6.68V9.14H6.7962a4.1708,4.1708,0,0,0-4.173,3.3867,12.4855,12.4855,0,0,0,0,6.7889c.4748,1.9776,1.6088,3.3867,3.55,3.3867H8.47V19.65a4.2449,4.2449,0,0,1,4.173-4.15h6.6721a3.3654,3.3654,0,0,0,3.34-3.3944V5.745a3.729,3.729,0,0,0-3.34-3.4723A20.8377,20.8377,0,0,0,15.8351,2ZM12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                  <path id="inner_path-2" data-name="inner path" class="cls-1" d="M12.2226,4.0478a1.2731,1.2731,0,1,1-1.2534,1.2768A1.2675,1.2675,0,0,1,12.2226,4.0478Z" transform="translate(0 0)"/>
                  <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
                <p class="flex justify-end items-center text-2xl font-bold">پایتون</p>
              </div>
              <i class="flex justify-end items-center ml-4">لوگو</i>
            </div>
            <div class="mx-14 my-4">
              <div class="flex my-4">
                <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <defs>
                    <style>
                      .cls-1{fill:none;}
                    </style>
                  </defs>
                  <title>
                    dot-mark
                  </title>
                  <circle cx="16" cy="16" r="8"/>
                  <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
                <p class="text-xl">درس اول </p>
              </div>
              <div class="flex my-4">
                <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <defs>
                    <style>
                      .cls-1{fill:none;}
                    </style>
                  </defs>
                  <title>
                    dot-mark
                  </title>
                  <circle cx="16" cy="16" r="8"/>
                  <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
                <p class="text-xl">درس اول </p>
              </div>
              <div class="flex my-4">
                <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <defs>
                    <style>
                      .cls-1{fill:none;}
                    </style>
                  </defs>
                  <title>
                    dot-mark
                  </title>
                  <circle cx="16" cy="16" r="8"/>
                  <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
                <p class="text-xl">درس اول </p>
              </div>
            </div>
          </div>
          <figure class="border-2 p-2">
            <img class="h-full w-full" src="https://i.ibb.co/1bspL6f/christopher-gower-m-HRf-Lhg-ABo-unsplash.jpg" alt="عکس محتوای هر دوره" />
          </figure>
        </div>
      </div>
    </div>

    <!-- testimonial -->
    <div class="grid grid-cols-4 mt-[8vh]">
      <div class="border-2 hover:bg-slate-100">
        <figure class="m-2 h-[35vh]">
          <img class="h-[36vh]" src="https://i.ibb.co/nj4FgdP/tetsimonial.webp" alt="" />
        </figure>
        <div class="mx-2 my-4">
          <p><label class="text-xs bg-slate-200 ml-2 p-1">دانش آموز</label><label class="text-xl font-bold">سینا کرمیان</label></p>
          <p>دوره های منظم با جلسات رفع اشکال در حد عالی و اساتید معتبر و تیم عالی در جهت پبشرفت و افزایش دانش برنامه نویسی</p>
          <div class="flex justify-end text-sm text-blue-600"><p class="border-b-2 border-blue-600" href="/">دوره پایتون</p></div>
        </div>
      </div>
      <div class="border-2 hover:bg-slate-100">
        <figure class="m-2 h-[35vh]">
          <img class="h-[36vh]" src="https://i.ibb.co/nj4FgdP/tetsimonial.webp" alt="" />
        </figure>
        <div class="mx-2 my-4">
          <p><label class="text-xs bg-slate-200 ml-2 p-1">دانش آموز</label><label class="text-xl font-bold">سینا کرمیان</label></p>
          <p>دوره های منظم با جلسات رفع اشکال در حد عالی و اساتید معتبر و تیم عالی در جهت پبشرفت و افزایش دانش برنامه نویسی</p>
          <div class="flex justify-end text-sm text-blue-600"><p class="border-b-2 border-blue-600" href="/">دوره پایتون</p></div>
        </div>
      </div>
      <div class="border-2 hover:bg-slate-100">
        <figure class="m-2 h-[35vh]">
          <img class="h-[36vh]" src="https://i.ibb.co/nj4FgdP/tetsimonial.webp" alt="" />
        </figure>
        <div class="mx-2 my-4">
          <p><label class="text-xs bg-slate-200 ml-2 p-1">دانش آموز</label><label class="text-xl font-bold">سینا کرمیان</label></p>
          <p>دوره های منظم با جلسات رفع اشکال در حد عالی و اساتید معتبر و تیم عالی در جهت پبشرفت و افزایش دانش برنامه نویسی</p>
          <div class="flex justify-end text-sm text-blue-600"><p class="border-b-2 border-blue-600" href="/">دوره پایتون</p></div>
        </div>
      </div>
      <div class="border-2 hover:bg-slate-100">
        <figure class="m-2 h-[35vh]">
          <img class="h-[36vh]" src="https://i.ibb.co/nj4FgdP/tetsimonial.webp" alt="" />
        </figure>
        <div class="mx-2 my-4">
          <p><label class="text-xs bg-slate-200 ml-2 p-1">دانش آموز</label><label class="text-xl font-bold">سینا کرمیان</label></p>
          <p>دوره های منظم با جلسات رفع اشکال در حد عالی و اساتید معتبر و تیم عالی در جهت پبشرفت و افزایش دانش برنامه نویسی</p>
          <div class="flex justify-end text-sm text-blue-600"><p class="border-b-2 border-blue-600" href="/">دوره پایتون</p></div>
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <a class="flex text-base mt-4 text-blue-600" href="/">
        <span>موارد بیشتر</span>
        <svg id="icon" fill="blue" width="20" height="20" viewBox="0 0 32 32">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }
            </style>
          </defs>
          <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
          <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="20" height="20" fill="#000000"/>
        </svg>
      </a>
    </div>

    <!-- consultation form -->
    <div class="grid grid-cols-2 h-[60vh] items-center">
      <div class="mt-8 border-l-4 h-[60vh]">
        <div class="flex">
          <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 32 32">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <rect x="11" y="24" width="10" height="2"/>
            <rect x="13" y="28" width="6" height="2"/>
            <path d="M10.8145,18.1406A7.1851,7.1851,0,0,1,8,12a8.0092,8.0092,0,0,1,8-8V2A10.0111,10.0111,0,0,0,6,12a9.1793,9.1793,0,0,0,3.46,7.6162C10.4717,20.5508,11,21.0815,11,22h2C13,20.16,11.8892,19.1338,10.8145,18.1406Z" transform="translate(0 0)"/>
            <polygon points="21 9.59 17.41 6 16 7.41 21 12.41 30 3.41 28.59 2 21 9.59"/>
            <path d="M23.8,14a7.28,7.28,0,0,1-2.6219,4.1426C20.1069,19.1348,19,20.1611,19,22h2c0-.9194.5264-1.45,1.5352-2.3857A9.1426,9.1426,0,0,0,25.8389,14Z" transform="translate(0 0)"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
          </svg>
          <p class="text-4xl font-bold">فرم مشاوره</p>
        </div>
        <p class="text-xl m-10">جهت مشاوره با تیم مجرب ما برای حرفه ای شدن فرم روبرو را پر کنید</p>
      </div>
      <div class="mt-8 h-[60vh] w-[25dvw]">
        <form class="grid gap-2 m-10" action="">
          <div class="grid grid-rows-2 pt-2 w-[25dvw] bg-slate-200 border-b-2 border-black"> 
            <label class="text-xs pr-2" for="name">نام و نام خانوادگی</label>
            <input class="border-b-2 bg-slate-200" type="text" id="name" name="name" />
          </div>
          <div class="grid grid-rows-2 pt-2 w-[25dvw] bg-slate-200 border-b-2 border-black">
            <label class="text-xs pr-2" for="tel">شماره تلفن</label>
            <input class="border-b-2 bg-slate-200" type="text" id="tel" name="tel" />
          </div>
          <div>
            <div class="grid grid-rows-2 pt-2 w-[25dvw] bg-slate-200">
              <label class="text-xs pr-2" for="description">توضیحات</label>
            </div>
            <textarea class="border-b-2 border-black w-[25dvw] bg-slate-200" name="description" id="description" rows="4" cels="30"></textarea>
          </div>
          <a class="inline-flex items-center px-8 py-3 text-base font-light text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300" href="">
            <span>ثبت مشاوره</span>
            <svg class="mr-[13dvw]" id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                  }
                </style>
              </defs>
              <polygon points="22 27.1798 19.41 24.5899 18 26 22 30 30 22 28.5899 20.59 22 27.1798"/>
              <rect x="9" y="17" width="7" height="2"/>
              <rect x="9" y="12" width="12" height="2"/>
              <rect x="9" y="7" width="12" height="2"/>
              <path d="m16,30H6c-1.103,0-2-.8972-2-2V4c0-1.1028.897-2,2-2h18c1.103,0,2,.8972,2,2v15h-2V4H6v24h10v2Z"/>
              <rect id="_Transparent_Rectangle_" data-name="&amp;lt;Transparent Rectangle&amp;gt;" class="cls-1 bg-white" width="32" height="32"/>
            </svg>
          </a>
        </form>
      </div>
    </div>
  </main>
  <!-- footer -->
  <footer class="bg-slate-400 px-8 pt-16 pb-8 mt-[8vh] align-middle">
    <div>
      <!-- footer row1 -->
      <div class="grid grid-cols-4 pb-20">
        <div>
          <svg class="border-b-2 border-zinc-500"  focusable="false" preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="100" height="65" viewBox="0 0 58 23" data-di-rand="1717253606823">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="ibm-8-bar-logo--h15-copy" fill="#161616">
                <path d="M58,21.4666667 L58,23 L50.3684211,23 L50.3684211,21.4666667 L58,21.4666667 Z M39.6842105,21.4666667 L39.6842105,23 L32.0526316,23 L32.0526316,21.4666667 L39.6842105,21.4666667 Z M45.6385329,21.4666667 L45.0245693,23 L44.41871,21.4666667 L45.6385329,21.4666667 Z M28.5421053,21.4666667 C27.4471432,22.4188667 26.0029202,23 24.3905263,23 L24.3905263,23 L12.2105263,23 L12.2105263,21.4666667 Z M10.6842105,21.4666667 L10.6842105,23 L0,23 L0,21.4666667 L10.6842105,21.4666667 Z M39.6842105,18.4 L39.6842105,19.9333333 L32.0526316,19.9333333 L32.0526316,18.4 L39.6842105,18.4 Z M46.8318522,18.4 L46.2377311,19.9333333 L43.8212353,19.9333333 L43.2226426,18.4 L46.8318522,18.4 Z M30.0684211,18.4 C29.9306437,18.9451697 29.7105614,19.4599515 29.4273684,19.9333333 L29.4273684,19.9333333 L12.2105263,19.9333333 L12.2105263,18.4 Z M10.6842105,18.4 L10.6842105,19.9333333 L0,19.9333333 L0,18.4 L10.6842105,18.4 Z M58,18.4 L58,19.9333333 L50.3684211,19.9333333 L50.3684211,18.4 L58,18.4 Z M54.9473684,15.3333333 L54.9473684,16.8666667 L50.3684211,16.8666667 L50.3684211,15.3333333 L54.9473684,15.3333333 Z M39.6842105,15.3333333 L39.6842105,16.8666667 L35.1052632,16.8666667 L35.1052632,15.3333333 L39.6842105,15.3333333 Z M48.0292704,15.3333333 L47.4295831,16.8666667 L42.6233978,16.8666667 L42.019006,15.3333333 L48.0292704,15.3333333 Z M29.8547368,15.3333333 C29.991899,15.8221879 30.0684211,16.3357152 30.0684211,16.8666667 L30.0684211,16.8666667 L24.4210526,16.8666667 L24.4210526,15.3333333 Z M19.8421053,15.3333333 L19.8421053,16.8666667 L15.2631579,16.8666667 L15.2631579,15.3333333 L19.8421053,15.3333333 Z M7.63157895,15.3333333 L7.63157895,16.8666667 L3.05263158,16.8666667 L3.05263158,15.3333333 L7.63157895,15.3333333 Z M54.9473684,12.2666667 L54.9473684,13.8 L50.3684211,13.8 L50.3684211,12.2666667 L54.9473684,12.2666667 Z M39.6842105,12.2666667 L39.6842105,13.8 L35.1052632,13.8 L35.1052632,12.2666667 L39.6842105,12.2666667 Z M49.2252679,12.2666667 L48.6284686,13.8 L41.4089474,13.8 L40.8168134,12.2666667 L49.2252679,12.2666667 Z M27.9773684,12.2666667 C28.5037637,12.6994848 28.9570701,13.2181697 29.3052632,13.8 L29.3052632,13.8 L15.2631579,13.8 L15.2631579,12.2666667 Z M7.63157895,12.2666667 L7.63157895,13.8 L3.05263158,13.8 L3.05263158,12.2666667 L7.63157895,12.2666667 Z M44.5987396,9.2 L45.0263158,10.4393515 L45.4535426,9.2 L54.9473684,9.2 L54.9473684,10.7333333 L50.3684211,10.7333333 L50.3684211,9.32433939 L49.8494737,10.7333333 L40.1878947,10.7333333 L39.6842105,9.3242 L39.6842105,10.7333333 L35.1052632,10.7333333 L35.1052632,9.2 L44.5987396,9.2 Z M7.63157895,9.2 L7.63157895,10.7333333 L3.05263158,10.7333333 L3.05263158,9.2 L7.63157895,9.2 Z M29.3052632,9.2 C28.9570701,9.7818303 28.5037637,10.3003758 27.9773684,10.7333333 L27.9773684,10.7333333 L15.2631579,10.7333333 L15.2631579,9.2 Z M54.9473684,6.13333333 L54.9473684,7.66666667 L45.9831118,7.66666667 L46.5234001,6.13333333 L54.9473684,6.13333333 Z M43.534302,6.13333333 L44.0745993,7.66666667 L35.1052632,7.66666667 L35.1052632,6.13333333 L43.534302,6.13333333 Z M30.0684211,6.13333333 C30.0684211,6.66414545 29.991899,7.17767273 29.8547368,7.66666667 L29.8547368,7.66666667 L24.4210526,7.66666667 L24.4210526,6.13333333 Z M19.8421053,6.13333333 L19.8421053,7.66666667 L15.2631579,7.66666667 L15.2631579,6.13333333 L19.8421053,6.13333333 Z M7.63157895,6.13333333 L7.63157895,7.66666667 L3.05263158,7.66666667 L3.05263158,6.13333333 L7.63157895,6.13333333 Z M42.4774196,3.06666667 L43.0079113,4.6 L32.0527757,4.6 L32.0526316,3.06666667 L42.4774196,3.06666667 Z M58,3.06666667 L58,4.6 L47.0390632,4.6 L47.5903678,3.06666667 L58,3.06666667 Z M29.4273684,3.06666667 C29.7105614,3.54004848 29.9306437,4.0548303 30.0684211,4.6 L30.0684211,4.6 L12.2105263,4.6 L12.2105263,3.06666667 Z M10.6842105,3.06666667 L10.6842105,4.6 L0,4.6 L0,3.06666667 L10.6842105,3.06666667 Z M41.4056725,0 L41.9462722,1.53333333 L32.05278,1.53333333 L32.0526316,0 L41.4056725,0 Z M58,0 L58,1.53333333 L48.1188427,1.53333333 L48.6466706,0 L58,0 Z M24.3905263,0 C25.9912083,0 27.4472798,0.581133333 28.5421053,1.53333333 L28.5421053,1.53333333 L12.2105263,1.53333333 L12.2105263,0 Z M10.6842105,0 L10.6842105,1.53333333 L0,1.53333333 L0,0 L10.6842105,0 Z" id="Combined-Shape">
                </path>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <ul>
            <li class="text-xl font-bold mb-4">
              <span>
                محصولات
              </span>
            </li>
            <li>
              <a href="">
                خرید اشتراک
              </a>
            </li>
            <li>
              <a href="">
                دوره ها
              </a>
            </li>
            <li>
              <a href="">
                نظرات
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="text-xl font-bold mb-4">
              <span>
                درباره شرکت
              </span>
            </li>
            <li>
              <a href="">
                تماس با ما
              </a>
            </li>
            <li>
              <a href="">
                درباره ما
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="text-xl font-bold mb-4">
              <span>
                مسیر یادگیری
              </span>
            </li>
            <li>
              <a href="">
                ثبت نام
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- footer row2 -->
      <div class="grid grid-cols-2 border-t-2 mt-8 align-text-bottom border-zinc-500">
        <p>همه حقوق محفوظ است</p>
        <ul class="flex justify-end gap-2">
          <li>
            <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <defs>
                <style>
                  .cls-1{fill:none;}
                </style>
              </defs>
              <title>
                logo--instagram
              </title>
              <circle cx="22.4056" cy="9.5944" r="1.44"/>
              <path d="M16,9.8378A6.1622,6.1622,0,1,0,22.1622,16,6.1622,6.1622,0,0,0,16,9.8378ZM16,20a4,4,0,1,1,4-4A4,4,0,0,1,16,20Z"/>
              <path d="M16,6.1622c3.2041,0,3.5837.0122,4.849.07a6.6418,6.6418,0,0,1,2.2283.4132,3.9748,3.9748,0,0,1,2.2774,2.2774,6.6418,6.6418,0,0,1,.4132,2.2283c.0577,1.2653.07,1.6449.07,4.849s-.0122,3.5837-.07,4.849a6.6418,6.6418,0,0,1-.4132,2.2283,3.9748,3.9748,0,0,1-2.2774,2.2774,6.6418,6.6418,0,0,1-2.2283.4132c-1.2652.0577-1.6446.07-4.849.07s-3.5838-.0122-4.849-.07a6.6418,6.6418,0,0,1-2.2283-.4132,3.9748,3.9748,0,0,1-2.2774-2.2774,6.6418,6.6418,0,0,1-.4132-2.2283c-.0577-1.2653-.07-1.6449-.07-4.849s.0122-3.5837.07-4.849a6.6418,6.6418,0,0,1,.4132-2.2283A3.9748,3.9748,0,0,1,8.9227,6.6453a6.6418,6.6418,0,0,1,2.2283-.4132c1.2653-.0577,1.6449-.07,4.849-.07M16,4c-3.259,0-3.6677.0138-4.9476.0722A8.8068,8.8068,0,0,0,8.14,4.63,6.1363,6.1363,0,0,0,4.63,8.14a8.8068,8.8068,0,0,0-.5578,2.9129C4.0138,12.3323,4,12.741,4,16s.0138,3.6677.0722,4.9476A8.8074,8.8074,0,0,0,4.63,23.8605a6.1363,6.1363,0,0,0,3.51,3.51,8.8068,8.8068,0,0,0,2.9129.5578C12.3323,27.9862,12.741,28,16,28s3.6677-.0138,4.9476-.0722a8.8074,8.8074,0,0,0,2.9129-.5578,6.1363,6.1363,0,0,0,3.51-3.51,8.8074,8.8074,0,0,0,.5578-2.9129C27.9862,19.6677,28,19.259,28,16s-.0138-3.6677-.0722-4.9476A8.8068,8.8068,0,0,0,27.37,8.14a6.1363,6.1363,0,0,0-3.51-3.5095,8.8074,8.8074,0,0,0-2.9129-.5578C19.6677,4.0138,19.259,4,16,4Z"/>
              <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
          </li>
          <li>
            <svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:none;}
              </style>
              <path d="M26.2,4H5.8C4.8,4,4,4.8,4,5.7v20.5c0,0.9,0.8,1.7,1.8,1.7h20.4c1,0,1.8-0.8,1.8-1.7V5.7C28,4.8,27.2,4,26.2,4z M11.1,24.4
                H7.6V13h3.5V24.4z M9.4,11.4c-1.1,0-2.1-0.9-2.1-2.1c0-1.2,0.9-2.1,2.1-2.1c1.1,0,2.1,0.9,2.1,2.1S10.5,11.4,9.4,11.4z M24.5,24.3
                H21v-5.6c0-1.3,0-3.1-1.9-3.1c-1.9,0-2.1,1.5-2.1,2.9v5.7h-3.5V13h3.3v1.5h0.1c0.5-0.9,1.7-1.9,3.4-1.9c3.6,0,4.3,2.4,4.3,5.5V24.3z
                "/>
              <rect id="_x3C_Transparent_Rectangle_x3E_" y="0" class="st0" width="32" height="32"/>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>