<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="main.css">
  <base href="/">
  <script src="main.js"></script>
</head>
<body class="w-full h-[100dbh]">
  <header>منو</header>
  <main class="p-8">
    <div class="grid grid-cols-3">
      <div class="col-span-1">
        <h2 class="text-2xl border-b-2 border-black py-4 ml-2">ورود کاربر</h2>
        <div class="py-4">
          <a class="inline-flex items-center px-8 py-3 text-base font-light text-center w-[12dvw] text-black bg-zinc-400 hover:bg-zinc-500 focus:ring-2 focus:ring-zinc-300" href="">
            <span>اساتید</span>
            <svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:none;}
            </style>
            <title>caret--right</title>
            <polygon class="text-white" points="20,24 10,16 20,8 "/>
            <rect class="st0" width="32" height="32"/>
            </svg>
          </a>
          <a class="inline-flex items-center px-8 py-3 text-base font-light text-center w-[12dvw] text-black bg-zinc-400 hover:bg-zinc-500 focus:ring-2 focus:ring-zinc-300" href="">
            <span>دانش آموزان</span>
            <svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:none;}
            </style>
            <title>caret--right</title>
            <polygon class="text-white" points="20,24 10,16 20,8 "/>
            <rect class="st0" width="32" height="32"/>
            </svg>
          </a>
        </div>
      </div>
      <figure class="col-span-2">
        <img class="w-full h-[80dvh]" src="https://i.ibb.co/WB4HKTL/sofatutor-4sy-O0f-P1-Bf0-unsplash.jpg" alt="عکس صفحه لاگین">
      </figure>
    </div>
  </main>
  <footer>
    <div class="bg-zinc-200 h-[7.4dvh]"></div>
  </footer>
</body>
</html>