<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="main.css">
  <base href="/">
  <script src="main.js"></script>
</head>
<body class="flex flex-col min-h-screen sm:text-xl">
  <header class="bg-zinc-200 px-8">
    <nav class="flex justify-between items-center h-12">
      <div class="flex justify-between items-center h-12">
        <a class="flex items-center justify-center h-12 border-l-2 border-zinc-300 pl-2 hover:bg-zinc-300" href="">
          <svg class="w-20 h-10"  focusable="false" preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" viewBox="0 0 58 23" data-di-rand="1717253606823">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="ibm-8-bar-logo--h15-copy" fill="#161616">
                <path d="M58,21.4666667 L58,23 L50.3684211,23 L50.3684211,21.4666667 L58,21.4666667 Z M39.6842105,21.4666667 L39.6842105,23 L32.0526316,23 L32.0526316,21.4666667 L39.6842105,21.4666667 Z M45.6385329,21.4666667 L45.0245693,23 L44.41871,21.4666667 L45.6385329,21.4666667 Z M28.5421053,21.4666667 C27.4471432,22.4188667 26.0029202,23 24.3905263,23 L24.3905263,23 L12.2105263,23 L12.2105263,21.4666667 Z M10.6842105,21.4666667 L10.6842105,23 L0,23 L0,21.4666667 L10.6842105,21.4666667 Z M39.6842105,18.4 L39.6842105,19.9333333 L32.0526316,19.9333333 L32.0526316,18.4 L39.6842105,18.4 Z M46.8318522,18.4 L46.2377311,19.9333333 L43.8212353,19.9333333 L43.2226426,18.4 L46.8318522,18.4 Z M30.0684211,18.4 C29.9306437,18.9451697 29.7105614,19.4599515 29.4273684,19.9333333 L29.4273684,19.9333333 L12.2105263,19.9333333 L12.2105263,18.4 Z M10.6842105,18.4 L10.6842105,19.9333333 L0,19.9333333 L0,18.4 L10.6842105,18.4 Z M58,18.4 L58,19.9333333 L50.3684211,19.9333333 L50.3684211,18.4 L58,18.4 Z M54.9473684,15.3333333 L54.9473684,16.8666667 L50.3684211,16.8666667 L50.3684211,15.3333333 L54.9473684,15.3333333 Z M39.6842105,15.3333333 L39.6842105,16.8666667 L35.1052632,16.8666667 L35.1052632,15.3333333 L39.6842105,15.3333333 Z M48.0292704,15.3333333 L47.4295831,16.8666667 L42.6233978,16.8666667 L42.019006,15.3333333 L48.0292704,15.3333333 Z M29.8547368,15.3333333 C29.991899,15.8221879 30.0684211,16.3357152 30.0684211,16.8666667 L30.0684211,16.8666667 L24.4210526,16.8666667 L24.4210526,15.3333333 Z M19.8421053,15.3333333 L19.8421053,16.8666667 L15.2631579,16.8666667 L15.2631579,15.3333333 L19.8421053,15.3333333 Z M7.63157895,15.3333333 L7.63157895,16.8666667 L3.05263158,16.8666667 L3.05263158,15.3333333 L7.63157895,15.3333333 Z M54.9473684,12.2666667 L54.9473684,13.8 L50.3684211,13.8 L50.3684211,12.2666667 L54.9473684,12.2666667 Z M39.6842105,12.2666667 L39.6842105,13.8 L35.1052632,13.8 L35.1052632,12.2666667 L39.6842105,12.2666667 Z M49.2252679,12.2666667 L48.6284686,13.8 L41.4089474,13.8 L40.8168134,12.2666667 L49.2252679,12.2666667 Z M27.9773684,12.2666667 C28.5037637,12.6994848 28.9570701,13.2181697 29.3052632,13.8 L29.3052632,13.8 L15.2631579,13.8 L15.2631579,12.2666667 Z M7.63157895,12.2666667 L7.63157895,13.8 L3.05263158,13.8 L3.05263158,12.2666667 L7.63157895,12.2666667 Z M44.5987396,9.2 L45.0263158,10.4393515 L45.4535426,9.2 L54.9473684,9.2 L54.9473684,10.7333333 L50.3684211,10.7333333 L50.3684211,9.32433939 L49.8494737,10.7333333 L40.1878947,10.7333333 L39.6842105,9.3242 L39.6842105,10.7333333 L35.1052632,10.7333333 L35.1052632,9.2 L44.5987396,9.2 Z M7.63157895,9.2 L7.63157895,10.7333333 L3.05263158,10.7333333 L3.05263158,9.2 L7.63157895,9.2 Z M29.3052632,9.2 C28.9570701,9.7818303 28.5037637,10.3003758 27.9773684,10.7333333 L27.9773684,10.7333333 L15.2631579,10.7333333 L15.2631579,9.2 Z M54.9473684,6.13333333 L54.9473684,7.66666667 L45.9831118,7.66666667 L46.5234001,6.13333333 L54.9473684,6.13333333 Z M43.534302,6.13333333 L44.0745993,7.66666667 L35.1052632,7.66666667 L35.1052632,6.13333333 L43.534302,6.13333333 Z M30.0684211,6.13333333 C30.0684211,6.66414545 29.991899,7.17767273 29.8547368,7.66666667 L29.8547368,7.66666667 L24.4210526,7.66666667 L24.4210526,6.13333333 Z M19.8421053,6.13333333 L19.8421053,7.66666667 L15.2631579,7.66666667 L15.2631579,6.13333333 L19.8421053,6.13333333 Z M7.63157895,6.13333333 L7.63157895,7.66666667 L3.05263158,7.66666667 L3.05263158,6.13333333 L7.63157895,6.13333333 Z M42.4774196,3.06666667 L43.0079113,4.6 L32.0527757,4.6 L32.0526316,3.06666667 L42.4774196,3.06666667 Z M58,3.06666667 L58,4.6 L47.0390632,4.6 L47.5903678,3.06666667 L58,3.06666667 Z M29.4273684,3.06666667 C29.7105614,3.54004848 29.9306437,4.0548303 30.0684211,4.6 L30.0684211,4.6 L12.2105263,4.6 L12.2105263,3.06666667 Z M10.6842105,3.06666667 L10.6842105,4.6 L0,4.6 L0,3.06666667 L10.6842105,3.06666667 Z M41.4056725,0 L41.9462722,1.53333333 L32.05278,1.53333333 L32.0526316,0 L41.4056725,0 Z M58,0 L58,1.53333333 L48.1188427,1.53333333 L48.6466706,0 L58,0 Z M24.3905263,0 C25.9912083,0 27.4472798,0.581133333 28.5421053,1.53333333 L28.5421053,1.53333333 L12.2105263,1.53333333 L12.2105263,0 Z M10.6842105,0 L10.6842105,1.53333333 L0,1.53333333 L0,0 L10.6842105,0 Z" id="Combined-Shape">
                </path>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </nav>
  </header>
  <main class="p-8 max-h-screen">
    <div id="login">
      <div class="flex flex-row justify-start sm:flex-col sm:w-full">
        <div class="flex flex-col w-2/3 pl-4 sm:w-full sm:pl-0">
          <h1 class="text-2xl font-bold border-b-2 border-zinc-400 py-3">ورود کاربر</h1>
          <div class="inline-flex flex-row py-4">
            <button id="teacher" class="inline-flex justify-between items-center h-10 w-[12dvw] sm:w-1/2 p-4 border-2 bg-zinc-200 cursor-pointer">
              <h2 class="text-xl">اساتید</h2>
              <svg id="teachersvg" version="1.1" id="icon" class="w-7 h-7 -rotate-90" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:none;}
                </style>
                <polygon points="10,16 20,6 21.4,7.4 12.8,16 21.4,24.6 20,26 "/>
                <rect id="_x3C_Transparent_Rectangle_x3E_" class="st0" width="32" height="32"/>
              </svg>
            </button>
            <button id="student" class="inline-flex justify-between items-center h-10 w-[12.3dvw] sm:w-1/2 p-4 mr-3 border-2 cursor-pointer">
              <h2 class="text-xl">دانش آموزان</h2>
              <svg id="studensvg" version="1.1" id="icon" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                <style type="text/css">
                  .st0{fill:none;}
                </style>
                <polygon points="10,16 20,6 21.4,7.4 12.8,16 21.4,24.6 20,26 "/>
                <rect id="_x3C_Transparent_Rectangle_x3E_" class="st0" width="32" height="32"/>
              </svg>
            </button>
          </div>
          <div class="py-2">
            <h2 id="content" class="text-xl">ورود به بخش اساتید</h2>
              <form action="">
                <div class="flex flex-col w-[25dvw] sm:w-full gap-1 pt-1 mb-2 border-b-2 border-zinc-400">
                  <label class="text-sm" for="username">نام کاربری</label>
                  <input class="h-10 bg-zinc-100" type="text" id="username" name="username" required />
                </div>
                <div class="flex flex-col w-[25dvw] sm:w-full gap-1 pt-1 mb-2 border-b-2 border-zinc-400">
                  <label class="text-sm" for="pass1">نام کاربری</label>
                  <input class="h-10 bg-zinc-100" type="password" id="pass1" name="pass1" required />
                </div>
                <a class="flex justify-end w-[25dvw] sm:w-full text-sm text-blue-600" href="">فراموشی رمز عبور</a>
                <button class="inline-flex items-center justify-between px-8 py-3 my-2 w-[25dvw] sm:w-full text-base font-light text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300" href="">
                  <span>ورود</span>
                  <svg class="w-7 h-7" id="icon" fill="currentcolor" viewBox="0 0 32 32">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: none;
                        }
                      </style>
                    </defs>
                    <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" fill="#000000"/>
                  </svg>
                </button>
              </form>
              <button class="inline-flex items-center justify-between px-8 py-3 my-2 w-[25dvw] sm:w-full text-base font-light text-center text-black bg-zinc-200 hover:bg-zinc-300 focus:ring-2 focus:ring-zinc-400" href="">
                <span>ورود از طریق گوگل</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" viewBox="0 0 326667 333333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                  <path d="M326667 170370c0-13704-1112-23704-3518-34074H166667v61851h91851c-1851 15371-11851 38519-34074 54074l-311 2071 49476 38329 3428 342c31481-29074 49630-71852 49630-122593m0 0z" fill="#4285f4"/>
                  <path d="M166667 333333c44999 0 82776-14815 110370-40370l-52593-40742c-14074 9815-32963 16667-57777 16667-44074 0-81481-29073-94816-69258l-1954 166-51447 39815-673 1870c27407 54444 83704 91852 148890 91852z" fill="#34a853"/>
                  <path d="M71851 199630c-3518-10370-5555-21482-5555-32963 0-11482 2036-22593 5370-32963l-93-2209-52091-40455-1704 811C6482 114444 1 139814 1 166666s6482 52221 17777 74814l54074-41851m0 0z" fill="#fbbc04"/>
                  <path d="M166667 64444c31296 0 52406 13519 64444 24816l47037-45926C249260 16482 211666 1 166667 1 101481 1 45185 37408 17777 91852l53889 41853c13520-40185 50927-69260 95001-69260m0 0z" fill="#ea4335"/>
                </svg>
              </button>
              <div class="border-t-2 border-zinc-400">
                <h2 class="text-xl pt-1">حساب کاربری ندارید؟</h2>
                <button id="register" class="inline-flex items-center justify-between px-8 py-3 mt-1 w-[25dvw] sm:w-full text-base font-light text-center border-2 border-blue-600 text-blue-600 hover:bg-zinc-200 focus:ring-2 focus:ring-blue-300" href="">
                  <span>ایجاد حساب کاربری</span>
                  <svg class="w-7 h-7" id="icon" fill="currentcolor" viewBox="0 0 32 32">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: none;
                        }
                      </style>
                    </defs>
                    <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" fill="#000000"/>
                  </svg>
                </button>
              </div>
          </div>
        </div>
        <figure class="w-5/6 h-auto sm:w-full">
          <img class="w-full h-auto" src="https://i.ibb.co/WB4HKTL/sofatutor-4sy-O0f-P1-Bf0-unsplash.jpg" alt="">
        </figure>
      </div>
    </div>
    <div id="signin" class="hidden">
      <div class="flex flex-row justify-start sm:flex-col sm:w-full">
        <div class="w-2/3 h-full sm:w-full">
          <h1 class="text-3xl font-bold">خوش آمدید به سایت</h1>
          <h3 class="text-xl">یک اکانت بسازید و از آموزش های جدید لذت ببرید</h3>
          <figure class="w-full h-auto">
            <img class="w-full h-full" src="https://i.ibb.co/WB4HKTL/sofatutor-4sy-O0f-P1-Bf0-unsplash.jpg" alt="">
          </figure>
        </div>
        <div class="flex flex-col w-2/3 px-4 sm:w-full">
          <h1 class="text-2xl font-bold border-b-2 border-zinc-400 py-3">ایجاد اکانت جدید</h1>
          <form action="">
            <div class="flex flex-row gap-2">
              <div class="flex flex-col gap-1 pt-3 mb-2 w-1/2 border-b-2 border-zinc-400">
                <label class="text-sm" for="name">نام و نام خانوادگی</label>
                <input class="h-10 bg-zinc-100" type="text" id="name" name="name" required />
              </div>
              <div class="flex flex-col pt-3 mb-2">
                <label class="text-sm" for="birthdate">جنسیت</label>
                <div class="flex flex-row h-10">
                  <div class="pt-2">
                    <label class="text-base pr-2" for="men">مرد</label>
                    <input type="checkbox" id="men" name="men" required />
                  </div>
                  <div class="pt-2">
                    <label class="text-base pr-2" for="women">زن</label>
                    <input type="checkbox" id="women" name="women" required />
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-row gap-2">
              <div class="flex flex-col gap-1 pt-3 my-2 w-1/2 border-b-2 border-zinc-400">
                <label class="text-sm" for="birthdate">تاریخ تولد</label>
                <input class="h-10 bg-zinc-100" type="date" value="2017-06-01" id="birthdate" name="birthdate" required />
              </div>
              <div class="flex flex-col gap-1 pt-3 my-2 w-1/2 border-b-2 border-zinc-400">
                <label class="text-sm" for="city">استان</label>
                <input class="h-10 bg-zinc-100" type="text" id="city" name="city" required />
              </div>
            </div>
            <div class="flex flex-col gap-1 pt-3 my-2 w-1/2 border-b-2 border-zinc-400">
              <label class="text-sm" for="reagent">معرف</label>
              <input class="h-10 bg-zinc-100" type="text" id="reagent" name="reagent" required />
            </div>
            <div class="flex flex-row gap-2">
              <div class="flex flex-col gap-1 pt-3 my-2 w-1/2 border-b-2 border-zinc-400">
                <label class="text-sm" for="email">ایمیل</label>
                <input class="h-10 bg-zinc-100" type="email" id="email" name="email" required />
              </div>
              <div class="flex flex-col gap-1 pt-3 my-2 w-1/2 border-b-2 border-zinc-400">
                <label class="text-sm" for="pass">تعیین رمز عبور</label>
                <input class="h-10 bg-zinc-100" type="password" id="pass" name="pass" required />
              </div>
            </div>
            <button id="signup" class="inline-flex items-center justify-between px-8 py-3 mt-8 w-1/2 sm:w-full text-base font-light text-center border-2 border-blue-600 text-blue-600 hover:bg-zinc-200 focus:ring-2 focus:ring-blue-300" href="">
              <span>ادامه</span>
              <svg class="w-7 h-7" id="icon" fill="currentcolor" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <polygon points="14 26 15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" fill="#000000"/>
              </svg>
            </button>
          </form>
          <button class="inline-flex items-center justify-between px-8 py-3 my-2 w-1/2 sm:w-full text-base font-light text-center text-black bg-zinc-200 hover:bg-zinc-300 focus:ring-2 focus:ring-zinc-400" href="">
            <span>ایجاد حساب از طریق گوگل</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" viewBox="0 0 326667 333333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M326667 170370c0-13704-1112-23704-3518-34074H166667v61851h91851c-1851 15371-11851 38519-34074 54074l-311 2071 49476 38329 3428 342c31481-29074 49630-71852 49630-122593m0 0z" fill="#4285f4"/>
              <path d="M166667 333333c44999 0 82776-14815 110370-40370l-52593-40742c-14074 9815-32963 16667-57777 16667-44074 0-81481-29073-94816-69258l-1954 166-51447 39815-673 1870c27407 54444 83704 91852 148890 91852z" fill="#34a853"/>
              <path d="M71851 199630c-3518-10370-5555-21482-5555-32963 0-11482 2036-22593 5370-32963l-93-2209-52091-40455-1704 811C6482 114444 1 139814 1 166666s6482 52221 17777 74814l54074-41851m0 0z" fill="#fbbc04"/>
              <path d="M166667 64444c31296 0 52406 13519 64444 24816l47037-45926C249260 16482 211666 1 166667 1 101481 1 45185 37408 17777 91852l53889 41853c13520-40185 50927-69260 95001-69260m0 0z" fill="#ea4335"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div id="signinFavorites" class="hidden">
      <div class="flex flex-row justify-start sm:flex-col">
        <div class="w-2/3 sm:w-full h-full">
          <h1 class="text-3xl font-bold">خوش آمدید به سایت</h1>
          <h3 class="text-xl">یک اکانت بسازید و از آموزش های جدید لذت ببرید</h3>
          <figure class="w-full h-auto">
            <img class="w-full h-full" src="https://i.ibb.co/8YD9kh2/john-schnobrich-Fl-Pc9-Voc-J4-unsplash.jpg" alt="">
          </figure>
        </div>
        <div class="flex flex-col w-2/3 sm:w-full px-4">
          <h1 class="text-2xl font-bold border-b-2 border-zinc-400 py-3">ایجاد اکانت جدید</h1>
          <div class="flex flex-col">
            <div class="flex flex-row items-center pt-4">
              <svg id="icon" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1{fill:none;}
                  </style>
                </defs>
                <title>
                  cognitive
                </title>
                <path d="M30,13A11,11,0,0,0,19,2H11a9,9,0,0,0-9,9v3a5,5,0,0,0,5,5H8.1A5,5,0,0,0,13,23h1.38l4,7,1.73-1-4-6.89A2,2,0,0,0,14.38,21H13a3,3,0,0,1,0-6h1V13H13a5,5,0,0,0-4.9,4H7a3,3,0,0,1-3-3V12H6A3,3,0,0,0,9,9V8H7V9a1,1,0,0,1-1,1H4.08A7,7,0,0,1,11,4h6V6a1,1,0,0,1-1,1H14V9h2a3,3,0,0,0,3-3V4a9,9,0,0,1,8.05,5H26a3,3,0,0,0-3,3v1h2V12a1,1,0,0,1,1-1h1.77A8.76,8.76,0,0,1,28,13v1a5,5,0,0,1-5,5H20v2h3a7,7,0,0,0,3-.68V21a3,3,0,0,1-3,3H22v2h1a5,5,0,0,0,5-5V18.89A7,7,0,0,0,30,14Z"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
              </svg>
              <h2 class="text-xl font-bold">علاقه‌مندی ها</h2>
            </div>
            <p class="px-10 border-b-2 border-zinc-400 w-3/4 sm:w-full pb-2">با انتحاب درست علاقه مندی ها دوره های مرتبط را دریافت کنید </p>
            <div class="flex flex-row gap-4 p-4">
              <svg id="icon" class="w-7 h-7" fill="blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1{fill:none;}
                  </style>
                </defs>
                <title>
                  idea
                </title>
                <rect x="11" y="24" width="10" height="2"/><rect x="13" y="28" width="6" height="2"/>
                <path d="M16,2A10,10,0,0,0,6,12a9.19,9.19,0,0,0,3.46,7.62c1,.93,1.54,1.46,1.54,2.38h2c0-1.84-1.11-2.87-2.19-3.86A7.2,7.2,0,0,1,8,12a8,8,0,0,1,16,0,7.2,7.2,0,0,1-2.82,6.14c-1.07,1-2.18,2-2.18,3.86h2c0-.92.53-1.45,1.54-2.39A9.18,9.18,0,0,0,26,12,10,10,0,0,0,16,2Z" transform="translate(0 0)"/>
                <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
              </svg>
              <h2 class="text-xl font-bold border-b-2">در چه زمینه ای بیشتر علاقه دارید؟</h2>
            </div>
            <div class="flex flex-wrap items-center justify-center w-3/4 p-2">
              <button class="flex justify-between items-center border-2 border-zinc-400 w-2/5 p-2 m-2 h-5/6 sm:w-full hover:bg-zinc-200">
                <h2 class="text-base">پایتون</h2>
                <svg id="icon" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                  <defs>
                    <style>
                      .cls-1{fill:none;}
                    </style>
                  </defs>
                  <title>
                    touch-1
                  </title>
                  <path d="M20,8H18A5,5,0,0,0,8,8H6A7,7,0,0,1,20,8Z"/>
                  <path d="M25,15a2.94,2.94,0,0,0-1.47.4A3,3,0,0,0,21,14a2.94,2.94,0,0,0-1.47.4A3,3,0,0,0,16,13.18V8h0a3,3,0,0,0-6,0V19.1L7.77,17.58h0A2.93,2.93,0,0,0,6,17a3,3,0,0,0-2.12,5.13l8,7.3A6.16,6.16,0,0,0,16,31h5a7,7,0,0,0,7-7V18A3,3,0,0,0,25,15Zm1,9a5,5,0,0,1-5,5H16a4.17,4.17,0,0,1-2.76-1L5.29,20.7A1,1,0,0,1,5,20a1,1,0,0,1,1.6-.8L12,22.9V8a1,1,0,0,1,2,0h0V19h2V16a1,1,0,0,1,2,0v3h2V17a1,1,0,0,1,2,0v2h2V18a1,1,0,0,1,2,0Z"/>
                  <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
              </button>
              <button class="flex justify-between items-center border-2 border-zinc-400 w-2/5 p-2 m-2 h-5/6 sm:w-full hover:bg-zinc-200">
                <h2 class="text-base">سی شارپ</h2>
                <svg id="icon" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                  <defs>
                    <style>
                      .cls-1{fill:none;}
                    </style>
                  </defs>
                  <title>
                    touch-1
                  </title>
                  <path d="M20,8H18A5,5,0,0,0,8,8H6A7,7,0,0,1,20,8Z"/>
                  <path d="M25,15a2.94,2.94,0,0,0-1.47.4A3,3,0,0,0,21,14a2.94,2.94,0,0,0-1.47.4A3,3,0,0,0,16,13.18V8h0a3,3,0,0,0-6,0V19.1L7.77,17.58h0A2.93,2.93,0,0,0,6,17a3,3,0,0,0-2.12,5.13l8,7.3A6.16,6.16,0,0,0,16,31h5a7,7,0,0,0,7-7V18A3,3,0,0,0,25,15Zm1,9a5,5,0,0,1-5,5H16a4.17,4.17,0,0,1-2.76-1L5.29,20.7A1,1,0,0,1,5,20a1,1,0,0,1,1.6-.8L12,22.9V8a1,1,0,0,1,2,0h0V19h2V16a1,1,0,0,1,2,0v3h2V17a1,1,0,0,1,2,0v2h2V18a1,1,0,0,1,2,0Z"/>
                  <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
              </button>
              <button class="flex justify-between items-center border-2 border-zinc-400 w-2/5 p-2 m-2 h-5/6 sm:w-full hover:bg-zinc-200">
                <h2 class="text-base">اسمبلی</h2>
                <svg id="icon" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                  <defs>
                    <style>
                      .cls-1{fill:none;}
                    </style>
                  </defs>
                  <title>
                    touch-1
                  </title>
                  <path d="M20,8H18A5,5,0,0,0,8,8H6A7,7,0,0,1,20,8Z"/>
                  <path d="M25,15a2.94,2.94,0,0,0-1.47.4A3,3,0,0,0,21,14a2.94,2.94,0,0,0-1.47.4A3,3,0,0,0,16,13.18V8h0a3,3,0,0,0-6,0V19.1L7.77,17.58h0A2.93,2.93,0,0,0,6,17a3,3,0,0,0-2.12,5.13l8,7.3A6.16,6.16,0,0,0,16,31h5a7,7,0,0,0,7-7V18A3,3,0,0,0,25,15Zm1,9a5,5,0,0,1-5,5H16a4.17,4.17,0,0,1-2.76-1L5.29,20.7A1,1,0,0,1,5,20a1,1,0,0,1,1.6-.8L12,22.9V8a1,1,0,0,1,2,0h0V19h2V16a1,1,0,0,1,2,0v3h2V17a1,1,0,0,1,2,0v2h2V18a1,1,0,0,1,2,0Z"/>
                  <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
              </button>
              <button class="flex justify-between items-center border-2 border-zinc-400 w-2/5 p-2 m-2 h-5/6 sm:w-full hover:bg-zinc-200">
                <h2 class="text-base">C</h2>
                <svg id="icon" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                  <defs>
                    <style>
                      .cls-1{fill:none;}
                    </style>
                  </defs>
                  <title>
                    touch-1
                  </title>
                  <path d="M20,8H18A5,5,0,0,0,8,8H6A7,7,0,0,1,20,8Z"/>
                  <path d="M25,15a2.94,2.94,0,0,0-1.47.4A3,3,0,0,0,21,14a2.94,2.94,0,0,0-1.47.4A3,3,0,0,0,16,13.18V8h0a3,3,0,0,0-6,0V19.1L7.77,17.58h0A2.93,2.93,0,0,0,6,17a3,3,0,0,0-2.12,5.13l8,7.3A6.16,6.16,0,0,0,16,31h5a7,7,0,0,0,7-7V18A3,3,0,0,0,25,15Zm1,9a5,5,0,0,1-5,5H16a4.17,4.17,0,0,1-2.76-1L5.29,20.7A1,1,0,0,1,5,20a1,1,0,0,1,1.6-.8L12,22.9V8a1,1,0,0,1,2,0h0V19h2V16a1,1,0,0,1,2,0v3h2V17a1,1,0,0,1,2,0v2h2V18a1,1,0,0,1,2,0Z"/>
                  <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="mt-auto">
    <div class="bg-zinc-200 h-12"></div>
  </footer>
  <script src="main.js"></script>
</body>
</html>