@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSansXV";
  src: url("/fonts/IRANSansXV.woff2");
}

*,
::before,
::after {
  /* font-size: calc(100vw / 1024 * 10); */
  font-family: "IRANSansXV"!important;
}
